
// Define base and accent colors
$base-color: #b6e7a6;
$base-color-light: lighten($base-color, 10%);
$base-color-text:#4b982d;
$base-color-dark: darken($base-color, 55%);

// Define background colors
$background: #fff;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #113a06;
$text: #74808a;

/*
---------------------
----- Mixins -----
---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
  transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    opacity: 1;
    @content;
  }

  &::-moz-placeholder {
    opacity: 1;
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

/*
----------------------------
----- Global Styles -----
----------------------------
*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  &.active {
    overflow: hidden;
    z-index: -1;
  }
}

.aria-hidden {
  display: none;
}

#header-text {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}

#header-text a {
  color: #000;
  font-weight: 200px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  span {
    font-weight: 700px;
  }
}

#header-text a:hover {
  color: $base-color-text;
}

footer {
  padding: 15px 0;
}

.copyright {
  padding-top: 20px;

  p {
    color: $text;
    margin: 0;
  }
}

.top {
  text-align: center;

  span {
    border: 3px solid lighten($text, 25%);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 35px;
    margin: 15px auto 0 auto;
    text-align:center;
    width: 35px;
  }

  i {
    color: $text;
  }
}

.social {
  text-align: right;

  li {
    display: inline-block;
    font-size: 1.5em;
    list-style: none;
  }

  a {
    color: $text;
    display: block;
    padding-left: 15px;

    &:hover {
      color: $base-color-text;
    }
  }
  &.bounce a:hover, &.bounce a:focus {
    animation: bounce 1s;
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transform: translate3d(0,0,0);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  40% {
    transform: translate3d(0, -6px, 0);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  }

  70% {
    transform: translate3d(0, -4px, 0);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}
.btn-rounded-white {
  border: 3px solid #fff;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  @include transition();
  padding: 15px 25px;

  &:hover {
    background: #fff;
    color: $base-color;
    text-decoration: none;
  }
}

.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.heading {
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
  position: relative;

  &:after {
    background: $base-color;
    content: '';
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 100%;
    width: 50px;
  }
}

.background-alt {
  background: $background-alt;
}

/*
--------------------------
----- Lead Styles -----
--------------------------
*/


#lead-bg {
  background: url(../images/lead-bg.jpg);
  // overflow-y: scroll;
  background-attachment: fixed;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  max-height: 1080px;
  min-height: 500px;
  overflow: scroll;
  position: relative;
}

#lead-down {
  bottom: 15px;
  color: $base-color-dark;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 10;

  span {
    border: 3px solid $base-color-dark;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 35px;
    margin: 0 auto;
    text-align:center;
    width: 35px;
  }

  i {
    animation: pulsate 1.5s ease;

    animation-iteration-count: infinite;
    padding-top: 5px;;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*
---------------------------
----- About Styles -----
---------------------------
*/

.circular--square{
  border-radius: 10%;
  height:400px;
  width:353px;
}

#about {
  background-color: $background-alt;
  border-bottom: 1px solid $border;
  padding: 5%;
  a {
    color: $base-color-text;
  }
}

.about-info {
  display: block;
  margin-left: 400px;
  margin-top: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  h3 {
    color: $heading;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 50px;
    margin-right: 40px;
  }

}

/*
-------------------------------
-----  Project Styles -----
-------------------------------
*/

#projects {
  text-align: center;

  .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

.project-logo {
  margin-bottom: 5%;
  width:40%;
}

.portfolio-item {
  display: block;
  height:310px;
  margin: auto auto 1rem;
  margin: 0;
  overflow: hidden;
}

.portfolio-item .caption {
  bottom: 0;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.caption {
  background-color: $base-color-light;
}


.portfolio-item .caption .caption-content {
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  color:#333;
  font-size: 2rem;
}

.portfolio-item .caption .caption-content p {
  // font-weight: 300;
  color: #555;
  font-size: 1.8rem;
}


.portfolio-item .caption {
  -webkit-clip-path: inset(0px);
  clip-path: inset(0px);
  -webkit-transition: -webkit-clip-path 0.5s ease-out, background-color 0.7s;
}
.portfolio-item .caption .caption-content {
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  transition: opacity 0.5s;
}
.portfolio-item img {
  -webkit-clip-path: inset(-1px);
  clip-path: inset(-1px);
  -webkit-transition: -webkit-clip-path 0.5s ease-out;
}
.portfolio-item:hover img {
  -webkit-clip-path: inset(3rem);
  clip-path: inset(3rem);
}
.portfolio-item:hover .caption {
  background-color: rgba(69,153,41,0.6);
  -webkit-clip-path: inset(3rem);
  clip-path: inset(3rem);
}

.portfolio-item:hover .caption .caption-content p{
  background-color: #fff;
  display:none;
}

.portfolio-item:hover .caption .caption-content h2{
  display:none;
}

.showonhover a{
  color:#777;
  display: block;
  &:hover {
    background: rgba(222,232,235,0.9);
    color: #333;
    text-decoration: none;
  }
}

.portfolio-item .newsrepo:hover {
  background: url(../images/newsrepo.png);
  background-size: cover;

}

.portfolio-item .tictactoe:hover {
  background: url(../images/tictactoe.png);
  background-size: cover;

}

.portfolio-item .studygroup:hover {
  background: url(../images/studygroup.png);
  background-size: cover;

}

.portfolio-item .lumohacks:hover {
  background: url(../images/lumohacks.png);
  background-size: cover;

}

.caption-content {
  margin-left: 300px;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  h3 {
    color: $heading;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 15px 0;
  }

  p {
    color: $text;
    font-size: 0.9em;
    margin: 0 0 15px 0;
  }
}

.no-image {
  .caption-content {
    margin: 0;
    padding: 30px 15px;
    position: relative;
    transform: none;
  }
}

/*
-------------------------------
----- Contact Styles -----
-------------------------------
*/

#contact {
  background: $background-alt;
  padding: 50px 15px;
  text-align: center;
}

#contact-form {
  margin: 0 auto;
  max-width: 500px;

  input, textarea {
    background: darken($base-color, 5%);
    border: none;
    border-radius: 4px;
    color: $heading;
    display: block;
    @include transition();
    @include placeholder {
      color: #fff;
    }
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;

    &:focus {
      background: darken($base-color, 25%);
      outline: none;
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    background: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: $base-color-dark;
    display: block;
    font-weight: 700;
    @include transition();
    padding: 5px 10px;
    width: 100%;

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
}

/*
-----------------------------
----- Media Queries -----
-----------------------------
*/

// Medium Devices
@media only screen and (max-width : 992px) {

  .about-info {
    display: block;
    margin: 400px 20px 20px 20px;
    text-align: center;
  }
  #lead {
    height: auto;
    // min-height: 200px;
    padding: 100px 15px;
  }
  footer {
    padding: 10px 0;
  }

}

// Small Devices
@media only screen and (max-width : 768px) {

  #lead {
    display: none;
  }

  .about-info {
    display: block;
    margin: 550px 20px 20px 20px;
    text-align: center;
  }

  header {
    padding-top: 10%;
    #header-text a{
      color: $base-color-text;

    }
  }

  #mobile-menu-open, #mobile-menu-close {
    display: block;
  }

  #menu {
    background-color:darken($base-color,45%);
    border-radius: 0;
    box-shadow: none;
    overflow-y: auto;
    width: 100%;

    li {
      display: block;
      margin-bottom: 10px;
    }
  }

  #lead {
    height: auto;
    min-height: 200px;
    padding: 100px 15px;
  }

  footer {
    padding: 10px 0;
    text-align: center;
  }

  .social {
    text-align: center;
  }

  .top, #lead-down{
    display: none;
  }

  .aria-hidden {
    display: block;
    margin-top: 5%;
  }

}

// Extra Small Devices
@media only screen and (max-width : 480px) {

  #lead {
    height: auto;
    min-height: 200px;
    padding: 100px 15px;
  }
  footer {
    padding: 10px 0;
    text-align: center;
  }

}

/*
-------------------------------
----- Gallery Styles -----
-------------------------------
*/

#gallery-option {
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-name: dropHeader;
  animation-timing-function: ease;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 20px;
  z-index: 10;

  a {
    color:black;
    display: inline;
    font-size: 24px;
    margin: 20px;
    &:hover {
      background-color: black;
      color: white;
      text-decoration: none;
      transition: 0.4s;
    }
  }

}
.container.gallery-container {
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  color: #35373a;
  margin-bottom: 40px;
  margin-top: 80px;
  min-height: 100vh;
}

.gallery-container h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  margin-top: 70px;
  text-align: center;
}

.gallery-container p.page-description {
  color: #888;
  font-size: 18px;
  margin: 25px auto;
  max-width: 800px;
  text-align: center;
}

.tz-gallery {
  display: inline-block;
  margin:10px;
  padding: 25px;
}

.tz-gallery .lightbox img {
  height: 240px;
  width: 350px;
}

.tz-gallery .portrait img {
  height: 390px;
  width: 280px;
}
.tz-gallery .vfw img {
  height: 495px;
  width: 350px;
}

.postcard img{
  display: inline-block;
  height: 300px;
  width: 500px;
}


.tz-gallery img {
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
}

.tz-gallery img:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
  transform: scale(1.05);
}

.baguetteBox-button {
  background-color: transparent !important;
}
