body {
  --bg: #fcfcfc;
  --purple-light: #f4f3ff;
  --purple-dark: #2c1e58;
  --yellow: #FFD701;
  --yellow-light: #FFF2A4;
  --blue: #0899EA;
  --blue-light: #9AE0FE;
  --green: #7BE3D4;
  --green-light: #AAF6DF;
  --pink: #fbcddc;
  --pink-medium: #fdbed4;
  --coral: #ff7a60;
  --red: #E11331;
  --gray: #717171;
  --gray-medium: #dfe3e6;
  --white: #fff;
  --black: #000;

  --textLink: var(--black);
  --hr: var(--gray-medium);

  --mega-border-width: 10px;
  background-color: var(--bg);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='800' height='600' xmlns='http://www.w3.org/2000/svg'%3E %3C!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ --%3E %3Cdefs%3E %3ClinearGradient id='svg_43' x1='0' y1='0' x2='1' y2='0'%3E %3Cstop stop-color='%23e11331' stop-opacity='0.99609' offset='0'/%3E %3Cstop stop-color='%23e11331' stop-opacity='0.99609' offset='1'/%3E %3C/linearGradient%3E %3ClinearGradient id='svg_45' x1='0' y1='0' x2='1' y2='0'%3E %3Cstop stop-color='%230899ea' offset='0'/%3E %3Cstop stop-color='%230899ea' stop-opacity='0.99609' offset='0.98047'/%3E %3C/linearGradient%3E %3ClinearGradient id='svg_46' x1='0' y1='0' x2='1' y2='0'%3E %3Cstop stop-color='%23ffd701' offset='0'/%3E %3Cstop stop-color='%23ffd701' stop-opacity='0.99609' offset='1'/%3E %3C/linearGradient%3E %3C/defs%3E %3Cg%3E %3Ctitle%3Ebackground%3C/title%3E %3Crect x='-1' y='-1' width='802' height='602' id='canvas_background' fill='%23fff'/%3E %3Cg id='canvasGrid' display='none'%3E %3Crect id='svg_2' width='100%25' height='100%25' x='0' y='0' stroke-width='0' fill='url(%23gridpattern)'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3Ctitle%3ELayer 1%3C/title%3E %3Cellipse fill='url(%23svg_43)' stroke-width='1.5' cx='99.38921' cy='263.96335' id='svg_1' rx='63.24642' ry='63.9949' transform='rotate(83.69905090332031 99.38920593261717%2C263.9633483886719) ' fill-opacity='0.6' stroke='null'/%3E %3Crect fill='url(%23svg_46)' stroke-width='1.5' x='610.5' y='126.75313' width='80.99999' height='137.7' id='svg_3' fill-opacity='0.8' stroke='null'/%3E %3Cpath fill='url(%23svg_45)' stroke-width='1.5' d='m306.47743%2C482.51896l60.85714%2C-112.89751l60.85715%2C112.89751l-121.71429%2C0z' id='svg_4' fill-opacity='0.7' stroke='null'/%3E %3Cpath fill='%23ffffff' stroke-width='1.5' stroke-opacity='null' fill-opacity='null' d='m68.30251%2C348.14782l52.99998%2C-70l52.99998%2C70l-105.99996%2C0z' id='svg_10' stroke='null'/%3E %3Cellipse fill='%23ffffff' stroke-width='1.5' stroke-opacity='null' fill-opacity='null' cx='588.5' cy='218.95312' id='svg_11' rx='50' ry='40.5' stroke='null'/%3E %3Crect fill='%23ffffff' stroke-width='1.5' x='383.5' y='302.45312' width='90' height='153' id='svg_39' stroke='null'/%3E %3Cellipse fill='%23fc6c7d' stroke-width='1.5' stroke-opacity='null' cx='346' cy='457.95312' id='svg_19' rx='9.5' ry='9.5' stroke='null'/%3E %3Cpath fill='%23ffffff' stroke='null' stroke-width='1.5' stroke-opacity='null' fill-opacity='null' d='m298.013%2C50.69725c5.94341%2C-0.0127 11.88681%2C-0.02541 17.83022%2C-0.03812c0.03913%2C-2.00959 0.07826%2C-4.01918 0.11739%2C-6.02877c5.91501%2C0 11.83003%2C0 17.74505%2C0c0%2C-2.02192 0%2C-4.04384 0%2C-6.06575c6.06649%2C0 12.13297%2C0 18.19946%2C0c0%2C-1.9726 0%2C-3.94521 0%2C-5.91781c5.99159%2C0 11.98318%2C0 17.97477%2C0c0%2C-1.9726 0%2C-3.94521 0%2C-5.91781c8.91249%2C0 17.82498%2C0 26.73748%2C0c0%2C0.9863 0%2C1.9726 0%2C2.9589c-5.91671%2C0 -11.83339%2C0 -17.7501%2C0c0%2C1.99726 0%2C3.99452 0%2C5.99178c-5.99158%2C0 -11.98317%2C0 -17.97477%2C0c0%2C1.99726 0%2C3.99452 0%2C5.99178c-5.99159%2C0 -11.98318%2C0 -17.97477%2C0c0%2C1.99726 0%2C3.99452 0%2C5.99178c-6.06649%2C0 -12.13297%2C0 -18.19946%2C0c0%2C2.02192 0%2C4.04384 0%2C6.06575c-8.98739%2C0 -17.97477%2C0 -26.96216%2C0c0.40066%2C-0.98014 -0.68303%2C-2.08535 0.25689%2C-3.03175l0%2C0l0%2C0.00002z' id='svg_25'/%3E %3Cpath fill='%230899ea' stroke='null' stroke-width='1.5' stroke-opacity='null' d='m35.33345%2C65.38492c0.08934%2C-0.00047 0.17867%2C-0.00094 0.26801%2C-0.00141c0.00059%2C-0.07443 0.00118%2C-0.14886 0.00176%2C-0.22329c0.08891%2C0 0.17782%2C0 0.26673%2C0c0%2C-0.07489 0%2C-0.14977 0%2C-0.22466c0.09119%2C0 0.18237%2C0 0.27356%2C0c0%2C-0.07306 0%2C-0.14612 0%2C-0.21918c0.09006%2C0 0.18012%2C0 0.27018%2C0c0%2C-0.07306 0%2C-0.14612 0%2C-0.21918c0.13397%2C0 0.26793%2C0 0.4019%2C0c0%2C0.03653 0%2C0.07306 0%2C0.10959c-0.08894%2C0 -0.17787%2C0 -0.2668%2C0c0%2C0.07397 0%2C0.14795 0%2C0.22192c-0.09006%2C0 -0.18012%2C0 -0.27018%2C0c0%2C0.07397 0%2C0.14795 0%2C0.22192c-0.09006%2C0 -0.18012%2C0 -0.27018%2C0c0%2C0.07397 0%2C0.14795 0%2C0.22192c-0.09119%2C0 -0.18237%2C0 -0.27356%2C0c0%2C0.07489 0%2C0.14977 0%2C0.22466c-0.13509%2C0 -0.27018%2C0 -0.40527%2C0c0.00602%2C-0.0363 -0.01027%2C-0.07724 0.00386%2C-0.11229l0%2C0l-0.00001%2C0z' id='svg_28'/%3E %3Cpath fill='%2366c1e8' stroke='null' stroke-width='1.5' stroke-opacity='null' d='m655.69248%2C171.549l12.00003%2C-21.00001l12.00003%2C21.00001l-24.00006%2C0z' id='svg_16' transform='rotate(-90 667.6925048828126%2C161.04899597167966) '/%3E %3Crect fill='%23ffd701' stroke-width='1.5' stroke-opacity='null' x='72.5' y='248.45313' width='16' height='26' id='svg_18' stroke='null'/%3E %3Cellipse fill='%23ffffff' stroke-width='1.5' stroke-opacity='null' cx='80' cy='256.95313' id='svg_48' rx='4.5' ry='4.5' stroke='null'/%3E %3Cellipse fill='%23ffffff' stroke-width='1.5' stroke-opacity='null' cx='343' cy='459.95312' id='svg_49' rx='4.5' ry='4.5' stroke='null'/%3E %3Cellipse fill='%23ffffff' stroke-width='1.5' stroke-opacity='null' cx='672.5' cy='161.45312' id='svg_51' rx='4' ry='4' stroke='null'/%3E %3C/g%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  /* background-clip: padding-box; */
  border-width: var(--mega-border-width);
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom,
    var(--blue),
    var(--yellow)
  );
  /* reduce flash of top/bottom borders when body initially loads with no height */
  min-height: calc(100vh + var(--mega-border-width));
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  header {
    display: block;
  }
}

/* donut */
.logo > svg {
  height: 3rem;
  width: 3rem;
  background-image: -webkit-linear-gradient(92deg, var(--coral), var(--pink));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: lavalamp 15s infinite linear;
}
@media (max-width: 320px) {
  .logo {
    margin-bottom: 0.5rem;
  }
  .logo > svg {
    height: 2rem;
    width: 2rem;
  }
}

/* heroine */
.heroine {
  color: var(--red);
}
@media (max-width: 414px) {
  .heroine {
    font-size: 1.75rem;
  }
}

@media (max-width: 1024px) {
  .avatar {
    margin: 0 auto;
  }
}

/* main bio thing */
.main-bio-container {
  display: flex;
}
.main-bio {
  flex: 0 0 80%;
  margin-right: 1.5rem;
}
.main-bio h1 {
  margin-top: 0;
}
.main-bio-container svg:hover {
  color: var(--blue);
}
@media (max-width: 1024px) {
  .main-bio-container {
    flex-wrap: wrap;
  }
  .main-bio {
    order: 1;
    flex: 0 0 100%;
    margin-right: 0;
  }
  .main-bio h1 {
    margin-top: 2.5rem;
  }
}

/* horizontal lists of links */
.horizontal-links {
  list-style-type: none;
  margin-bottom: 0;
}
.horizontal-links > li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.horizontal-links > li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 480px) {
  .horizontal-links {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .horizontal-links {
    display: block;
    font-size: 0.8rem;
  }
  .horizontal-links > li {
    margin-right: 0.8rem;
  }
}

/* footer */
@media (max-width: 375px) {
  footer {
    display: block;
  }
}

/* gatsby-highlight */
.gatsby-highlight {
  margin-bottom: 1.75em;
}

/* blog post detail */
.blog-post img,
.blog-post figcaption {
  margin: 0 auto;
  display: block;
}

/* a tags */
small > a {
  color: var(--gray);
}
a {
	background-image: linear-gradient(to bottom, transparent 65%, var(--yellow) 0);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	transition: background-size .4s ease;
}
a:hover {
	background-size: 100% 100%;
	cursor: pointer;
}
a.u-no-box-shadow {
  background-image: none;
}
a.squiggly {
  background-image: none;
  padding-bottom: 0.15em;
  background-position: bottom;
  background-size: 20%;
  transition: none;
}
a.squiggly:hover {
  color: var(--red);
  transition: color 0.3s ease;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='coral' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 26px;
  background-size: auto 3px;
  background-repeat: repeat-x;
  padding-bottom: 0.15em;
  background-clip: initial;
  -webkit-text-fill-color: initial;
  box-decoration-break: initial;
}

/* pills */
.pills {
  display: flex;
}
.pill {
  font-size: 0.7rem;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 1.25rem;
  margin: 0.125rem;
  border-radius: 0.9375rem;
}
.pill:not(:first-child) {
  margin-left: 0;
}
/* carbon design tag colors */
.pill--computervision {
  background-color: var(--red);
  color: var(--white);
}
.pill--engineering {
  background-color: #c0e6ff;
  color: #325c80;
}
.pill--11s {
  background-color: #eed2ff;
  color: #734098;
}
.pill--computationalcreativity {
  background-color: var(--blue);;
  color: var(--white);
}
.pill--personal {
  background-color: var(--yellow);
  color: var(--black);
}

/* embedded tweets */
.twitter-tweet {
  margin: 0 auto;
}

/* utils */
.u-no-box-shadow {
  box-shadow: none;
}
/* https://css-tricks.com/full-width-containers-limited-width-parents/ */
.u-full-width {
  width: calc(100vw - var(--mega-border-width) * 2);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: calc(-50vw + var(--mega-border-width));
  margin-right: calc(-50vw + var(--mega-border-width));
}
/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.u-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.u-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* animations */
@keyframes lavalamp {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
